@media (max-aspect-ratio: 9/6) and (min-aspect-ratio: 4/6),
(max-width: 1300px) and (min-aspect-ratio: 4/6)  {
	@font-face {
		font-family: "gabriola";
		src: url("../../fonts/gabriola.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "IBMPlexSans";
		src: url("../../fonts/IBMPlexSansRegular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "IBMPlexSans";
		src: url("../../fonts/IBMPlexSansBold.ttf") format("truetype");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}


	body {
		margin: 0;
		min-height: 100vh;

		background-image: url("../../img/backgroundSmall.webp");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		
		font-family: "IBMPlexSans", sans-serif;
	}

	.panel {
		width: fit-content;
		position: fixed;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
		left: 50%;
		margin: 0;
	}

	.generalName {
		color: #6dfdc0;
		font-family: "gabriola", sans-serif;
		font-size: 80px;
		white-space: nowrap;
		text-align: center;
	}

	.loginName {
		color: #6dfdc0;
		font-size: 15px;
		margin-left: 1%
	}

	.codeInput {
		width: 97%;
		font-size: 18px;
		border-radius: 8px;
		background-color: #e2f1ee;
		padding: 1px 5px;
		border: 2px solid #e2f1ee;
		transition: border-color 0.3s
	}

	.codeInput:focus {
		border-color: #4cb085;
		outline: none;
	}

	.loginButton {
		font-weight: bold;
		color: #6dfdc0;
		background-color: #00000055;
		border-radius: 12px;
		border: 1px solid #6dfdc0;
		font-size: 23px;
		margin: 30px auto 60px auto;
		display: block;
		padding: 10px 15%;
	}

	.loginButton:hover {
		color: #9fffd7;
		border: 1px solid #9fffd7;
		cursor: pointer;
		background-color: #9fffd710;
	}

	.joinTextUp, .joinTextDown {
		color: #6dfdc0;
		text-align: center;
	}

	.mediaLinks {
		align-items: center;
		justify-content: center;
		display: flex;
		margin-top: 8px;
	}

	.discordIcon, .telegramIcon {
		width: 35px;
	}

	.telegramIcon {
		margin-left: 10px;
	}

	.discordIcon:hover, .telegramIcon:hover {
		cursor: pointer;
		transform: scale(1.1);
		opacity: 0.85;
	}
}