@media (hover: none) and (pointer: coarse) {
@font-face {
	font-family: "gabriola";
	src: url("../../fonts/gabriola.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBMPlexSans";
	src: url("../../fonts/IBMPlexSansRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBMPlexSans";
	src: url("../../fonts/IBMPlexSansBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


body {
	margin: 0;
	min-height: 100vh;

	background-image: url("../../img/backgroundSmall.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	font-family: "IBMPlexSans", sans-serif;
}

.panel {
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	position: fixed;
	margin: 0;
	width: 90%;
}

.generalName {
	color: #6dfdc0;
	font-family: "gabriola", sans-serif;
	font-size: 120px;
	white-space: nowrap;
	text-align: center;
}

.loginName {
	color: #6dfdc0;
	font-size: 30px;
	margin-left: 1%
}

.codeInput {
	width: 97%;
	font-size: 50px;
	border-radius: 8px;
	background-color: #e2f1ee;
	padding: 1px 5px;
	border: 5px solid #e2f1ee;
	transition: border-color 0.3s
}

.codeInput:focus {
	border-color: #4cb085;
	outline: none;
}

.loginButton {
	font-weight: bold;
	color: #6dfdc0;
	background-color: #00000055;
	border-radius: 12px;
	border: 3px solid #6dfdc0;
	font-size: 50px;
	margin: 150px auto 60px auto;
	display: block;
	padding: 10px 15%;
}

.loginButton:hover {
	color: #9fffd7;
	border: 3px solid #9fffd7;
	cursor: pointer;
	background-color: #9fffd710;
}

.joinTextUp, .joinTextDown {
	color: #6dfdc0;
	text-align: center;
	font-size: 30px;
}

.mediaLinks {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 8px;
}

.discordIcon, .telegramIcon {
	width: 70px;
}

.telegramIcon {
	margin-left: 50px;
}

.discordIcon:hover, .telegramIcon:hover {
	cursor: pointer;
	transform: scale(1.1);
	opacity: 0.85;
}